:root {
    --off_white: #f8f9fa;
    --light_gray: #868686;
    --light_gray_2: #d9d9d9;
    --black: #111;
    --blue: #5E9FFF;
    --blue_opacity: #5E9FFF10;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    position: relative;
    display: block;
}

#map {
    height: 100vh;
    width: 100%;
}

#left-sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 300px;
    background-color: var(--off_white);
    padding: 16px;
    border-radius: 10px;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: scroll;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

.controls {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-container input {
    font-size: medium;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    width: 255px;
    font-weight: 300;
    font-size: regular;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
    padding-left: 35px;
}

.input-container input:focus {
    outline: none;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.input-container {
    position: relative;
}

.input-container .fa-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-content button {
    background-color: #f6f6f6;
    text-decoration: none;
    display: block;
    width: 100%;
    border: none;
    text-align: left;
    font-size: small;
    padding: 10px;
    border-bottom: solid 1px var(--light_gray);
}

.dropdown-content button:hover {
    font-weight: bold;
}

#countryButtonContainer {
    display: block;
    flex-wrap: wrap;
    margin-top: 5px;
}

#countryButtonContainer {
    border: none;
    background-color: var(--off_white);
    display: flex;
    gap: 8px;
    flex: 1 0 30%;
    font-size: 16px;
    margin: 5px 0;
    justify-content: center;
    align-items: center;

}

.checkbox-group {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    border: none;
}

.checkbox-input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    &:checked+.checkbox-tile {
        border-color: var(--blue);
        background-color: var(--blue_opacity);
        color: var(--black);

        &:before {
            transform: scale(1);
            opacity: 1;
        }
    }

    &:checked+.button-expand {
        color: var(--black);
        background-color: var(--blue_opacity);

        &:before {
            transform: scale(1);
            opacity: 1;
        }
    }

    &:checked+.checkbox-label {
        color: var(--black);

        &:before {
            transform: scale(1);
            opacity: 1;
        }
    }

    &:focus+.checkbox-tile {
        border-color: var(--blue);
        background-color: var(--blue_opacity);

        &:before {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.checkbox-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 5px 8px;
    border-radius: 0.5rem;
    border: 2.5px solid var(--light_gray_2);
    color: var(--light_gray);
    background-color: var(--off_white);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;

    &:before {
        content: "";
        position: absolute;
    }

    &:hover {
        border-color: var(--blue);

        &:before {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.button-expand {
    color: var(--light_gray);
    transition: .375s ease;
    border: none;
    background: none;
    font-size: 16px;

    &:hover {
        scale: 1.1;
    }
}

.checkbox-label {
    transition: .375s ease;
    text-align: center;
}

.headline-with-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #868686;
}

.headline-with-button h5 {
    font-size: 16px;
}

.headline-with-button button {
    font-size: 11px;
    border: none;
    border-bottom: solid thin var(--light_gray);
    background-color: var(--off_white);
}